/* Reset General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Medidas de referencia HTML */
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

/* Configuracion del Body */
body {
  background: azure;
  font-family: miFuente;
  font-size: 100%;
}

.contenedorGeneral {
  width: fit-content;
  height: auto;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contenedorTabla {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnConsulta {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid gray;
  cursor: pointer;
}
.btnConsulta:hover {
  background: #c0bebe;
}

/* Estilos celular */
@media (max-width: 600px) {
  .contenedorGeneral {
    margin:0 auto;
    width: fit-content;
    height: auto;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .btnConsulta{
    color: black;
    font-size: 1.1em;
    font-weight: bold;
  }

  .btnConsulta:hover {
  background: transparent;
}
}
